$menuBackground: #4269ea;

.sidebar {
  width: calc(15% - 1px);
  float: left;
  border-right: 1px solid #ccc;
  height: 100vh;

  h3 {
    padding-left: 20px;
  }
  .sidebar__button {
    width: 100px;
    padding: 10px;
    background-color: $menuBackground;
    text-align: center;
    margin: 0 auto;
    color: #fff;
    border-radius: 40px;
    cursor: pointer;
  }
  .sidebar__sliderLabel {
    margin-left: 10px;
    font-size: 12px;
    width: 90%;
  }
  .sidebar__sliderLabel--bottom {
    margin-top: -10px;
    text-align: center;
    margin-bottom: 20px;
  }
}
.float-right {
  float: right;
}
.wrapper {
  width: 80%;
  float: left;

  .sortBar {
    padding: 20px;

    span {
      color: #aaa;
      margin-right: 20px;
      padding-bottom: 3px;
      font-weight: bold;
      cursor: pointer;

      &.active {
        color: $menuBackground;
        border-bottom: 2px solid $menuBackground;
      }
    }
  }

  .sortTitle {
    margin-right: 30px;
  }
}

.productList {
  width: 95%;
  margin: 0px auto;
}

.productList__Item {
  width: calc(20% - 20px);
  float: left;
  padding: 10px;
  text-align: center;

  img {
    width: 99%;
    height: 200px;
    text-align: center;
  }
}

.productList__Title {
  color: #999;
  font-size: 14px;
  margin-bottom: 10px;
  text-align: left;
}

.productList__Price {
  color: #333;
  font-size: 14px;
  font-weight: bold;
  margin-right: 10px;
  margin-bottom: 10px;

  .productList__Price--display {
    color: #999;
    font-size: 12px;
    text-decoration: line-through;
    margin-right: 10px;
  }

  .productList__Price--discount {
    color: #53ae38;
  }
}
button:focus {
  outline: 0;
}
.productList__button {
  background-color: #f6b742;
  border: none;
  padding: 7px;
  display: block;
  border-radius: 10px;
  cursor: pointer;
  margin: 0 auto;
  margin-bottom: 10px;
  text-align: center;
}

.productList__noproducts {
  display: flex;
  height: 300px;
  justify-content: center;
  align-items: center;
}

.sortBarMobile {
  display: none;
}

//mobile

@media only screen and (max-width: 600px) {
  .sidebar {
    display: none;
  }

  .wrapper {
    width: 99%;
    margin-bottom: 60px;
    .sortBar {
      display: none;
    }
  }
  .productList__Item {
    width: calc(50% - 22px);
    float: left;
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
    border-top: none;
    border-left: none;

    &:nth-child(even) {
      border-right: none;
    }
    img {
      width: 99%;
      height: 200px;
      text-align: center;
    }
  }

  .productList__Title {
    color: #999;
    font-size: 14px;
    margin-bottom: 10px;
    text-align: left;
  }

  .productList__Price {
    color: #333;
    font-size: 12px;
    font-weight: bold;
    margin-right: 5px;
    margin-bottom: 10px;

    .productList__Price--display {
      color: #999;
      font-size: 10px;
      text-decoration: line-through;
      margin-right: 10px;
    }

    .productList__Price--discount {
      color: #53ae38;
      font-size: 10px;
    }
  }
  button:focus {
    outline: 0;
  }
  .sortBarMobile {
    display: block;
    text-align: center;
  }

  .sortBarMobile__sort {
    width: calc(50% - 2px);
    float: left;
    padding: 10px 0;
    border: 1px solid #ccc;
    border-left: none;
    border-top: none;
    cursor: pointer;
    font-weight: bold;
  }
  .sortBarMobile__filter {
    width: calc(50% - 2px);
    float: left;
    padding: 10px 0;
    border: 1px solid #ccc;
    border-right: none;
    border-top: none;
    border-left: none;
    cursor: pointer;
    font-weight: bold;
  }

  .productList__noproducts {
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .sidebar__sliderLabel--bottom {
    display: none;
  }

  .sidebar__button {
    display: none;
  }

  .sortBarM {
    background-color: #fff;
    display: block;
  }

  .sortTitleM {
    display: block;
  }

  .radioGroup {
    padding: 10px;
    font-size: 14px;

    label {
      margin-bottom: 10px;
      font-size: 14px;
      display: block;
    }
  }
}
