$pagebackground: #f1f3f6;

@font-face {
  font-family: "Verdana";
  src: local("Verdana"), url(./fonts/Verdana.woff) format("woff");
}

* {
  font-family: "Verdana";
}

body {
  background-color: $pagebackground;
}
