$pagebackground: #f1f3f6;
$menuBackground: #4269ea;

@font-face {
  font-family: "Verdana";
  src: local("Verdana"), url(./fonts/Verdana.woff) format("woff");
}

* {
  font-family: "Verdana";
}

body {
  background-color: $pagebackground;
}
#root {
  padding-bottom: 60px;
}
.modal__button {
  display: none;
}

.footer {
  background-color: $menuBackground;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #fff;
}
@media only screen and (max-width: 600px) {
  .modal {
    display: block;
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9;
  }

  .modal__content {
    width: 70%;
    background-color: #fff;
    opacity: 1;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin: 0 auto;
    margin-top: 90px;
    display: block;
    padding: 10px;
  }
  .modal__button {
    width: 100%;
    text-align: center;
    height: 30px;
    display: block;
  }
  .modal__button--cancel {
    width: calc(50% - 1px);
    float: left;
    border-right: 1px solid #999;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
  }
  .modal__button--apply {
    width: calc(50%);
    float: left;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
  }
}
